body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 10pt;
	color: #2c2c2c;
}

p {
	line-height: 16pt;
	letter-spacing: -0.1pt;
}
.container {
	margin: 0 auto;
	max-width: 1060px;
	background-color: white;
	box-shadow: 0 0 2px;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

header {
	margin: 0 47px;
}

main {
		margin: 0 47px;
}

footer {
	margin: 0 47px;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

.header-logo {
	float: left;
	height: 130px;
}

.main-header-navigation {
	height: 40px;
	background-color: #525151;
}

.main-header-navigation li {
	float: left;
}

.main-header-navigation a {
	display: block;
	width: 100px;
	margin: 0 24px;
	color: white;
	font-size: 11pt;
}

.left-sidebar-box {
	float: left;
	width: 30%;
	margin-top: 40px;
}

.sidebar-menu a {
	display: block;
	height: 40px;
	width: 240px;
	padding: 0px 0px 0px 24px;
	border: 1px solid #ededed;
	color: #2c2c2c;
}

.content-box {
	float: right;
	width: 70%;
	margin-top: 40px;
}

.content-box-img {
	position: relative;
	height: 400px;
	margin:  0 auto;
	border: 1px solid #ededed;
}

.content-box-img img {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.content-box-text {
	padding: 20px 24px 45px;
	hyphens: manual;
}

.footer-navigation {
	background-color: #e1e1e1;
}

.footer-navigation a {
	color: #2c2c2c;
	font-size: 10pt;
}